CONFIG_ZRAM_GS=m
CONFIG_ZCOMP_CPU=m
CONFIG_ZCOMP_EH=m
CONFIG_ZRAM_GS_WRITEBACK=y
CONFIG_ZRAM_GS_MULTI_COMP=y
CONFIG_ZRAM_GS_SLOWPATH_COMP=y
CONFIG_ZRAM_GS_BACKEND_LZO=y
CONFIG_ZRAM_GS_BACKEND_LZ4=y
CONFIG_ZRAM_GS_BACKEND_LZ4HC=y
CONFIG_ZRAM_GS_BACKEND_ZSTD=y
CONFIG_ZRAM_GS_BACKEND_DEFLATE=y
#CONFIG_ZRAM_GS_BACKEND_842=y
CONFIG_ZRAM_GS_VENDOR_HOOK=y
CONFIG_ZRAM_GS_ANDROID_IOCTL=y
